:root {
  --principalColor: #8C2D19;
  --backgroundColor: #e6e6e6;
  --whiteColor: #FFF;
  --focusBorderColor: rgba(140, 45, 25, 0.5);
  --submitHoverColor: #D24016;
  --borderColor: #ccc;
  --blackColor: black;
}

#ticket-add {
  background-color: var(--backgroundColor);
  padding: 15px;
  margin: 0 auto;
  max-width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 var(--principalColor);
  margin-top: 5%;
  margin-bottom: 10%;
}

#ticket-add h1 {
  color: var(--blackColor);
  text-align: center;
  font-size: 3vw;
}

#ticket-add form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
}

#ticket-add label {
  display: block;
  margin-bottom: 10px;
  color: var(--blackColor);
  text-align: left;
  font-size: 1.5vw;
  margin-left: 5%;
}

#ticket-add input[type="text"],
#ticket-add select {
  display: block;
  width: 95%;
  padding: 15px;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 2%;
}

#ticket-add input[type="submit"] {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--principalColor);
  color: var(--whiteColor);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.8vw;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#ticket-add input[type="submit"]:hover {
  background-color: var(--submitHoverColor);
}

#ticket-add select {
  height: 50px;
  font-size: 1.4vw;
  margin-left: 5%;
  width: 90%;
  margin-bottom: 5%;
}

#ticket-add select optgroup {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #ticket-add {
    max-width: 90%;
  }

  #ticket-add h1 {
    font-size: 4vw;
  }

  #ticket-add input[type="submit"] {
    font-size: 3.5vw;
  }
}
