body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0; /* Consolidate margin shorthand */
    background-color: #e6e6e6;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    background-color: #8C2D19;
    border-bottom: 10px solid black; 
    color: #fff;
}

header > img {
    width: 20%;
    height: 20%;
    padding-left: 1em;
    padding-top: 0.5em;
}

#but {
    padding-top: 1.5em;
}

/* Button container styles */
form {
    display: inline-block;
}

button {
    background-color: #0066cc;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #004c99;
}

/* Custom styles for the Login button */
button[formaction="login.php"] {
    background-color: #ff7f50;/*Change from '.html' to '.php' to match the form files.*/
}

button[formaction="login.php"]:hover {
    background-color: #ff6347;
}

/* Custom styles for the Register button */
button[formaction="register.php"] {
    background-color: #7cbb00;
}

button[formaction="register.php"]:hover {
    background-color: #62a603;
}
#p1, #p2, #p3 {
    text-align: justify;
    margin: auto;
    max-width: 800px;
}

#p1 h2, #p2 h2, #p3 h2 {
    text-align: center;
}
#p1 p, #p2 p, #p3 p {
    text-indent: 10px;
}

#links li {
    list-style: none;
    text-align: center;
    justify-content: center
}
#links li:nth-of-type(2) {
    border-top: 20px solid #e6e6e6;
}