:root {
    --backgroundColor: #e6e6e6;
    --principalColor: #8c2d19;
    --buttonHoverColor: #d24016;
    --whiteColor: white;
    --borderColor: #ccc;
    --boxShadow: 0px 0px 5px 0px var(--principalColor);
  }
  
  #accessDenied {
    text-align: center;
    padding: 5%;
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
  }
  
  #deniedImage {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  #accessDenied h2 {
    font-size: 4vw;
    margin-bottom: 2vw;
    color: var(--principalColor);
  }
  
  #accessDenied h3 {
    font-size: 2vw;
    margin-bottom: 2vw;
  }
  
  #accessDenied p {
    font-size: 1.2vw;
  }
  
  @media screen and (max-width: 600px) {
    #accessDenied h2 {
      font-size: 6vw;
    }
  
    #accessDenied h3 {
      font-size: 3vw;
    }
  
    #accessDenied p {
      font-size: 2vw;
    }
  }
  