:root {
    --mainHeaderColor: #8C2D19;
    --boxShadow: 0px 0px 5px 0px #8C2D19;
    --backgroundColor: #e6e6e6;
    --titleColor: #FFF;
    --bodyColor: #000;
    --borderBottomColor: 10px solid #000;
}  

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0; 
    background-color: var(--mainHeaderColor);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: var(--backgroundColor);
    border-bottom: var(--borderBottomColor); 
    color: var(--titleColor);
}

header > img {
    width: 20%;
    height: 20%;
    padding-left: 1em;
}

header > h1 {
    font-size: 3em;
    margin: 0;
}   