body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }

  #banner {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column-reverse;
  }

  #index-card {
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin: 2%;
  }

  #index-card img {
    width: 40%;
    height: 40%;
    margin-bottom: 20px;
  }

  #index-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #index-card p {
    font-size: 18px;
    margin-bottom: 0;
  }
  

  #index-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }




  #myticketsmenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    color: #fff;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    
  }
  #myticketsmenu > button > a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }
  
  #myticketsmenu > button {
    background-color: white;
    white-space: nowrap;
    display: inline-block;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-color: #8C2D19;
  }

  #myticketsmenu > button:hover,
#myticketsmenu > button:focus {
  background-color: black;
  
}

#myticketsmenu > button:hover > a {
  color: white;
}
  
  @media only screen and (max-width: 768px) {
    #myticketsmenu {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 480px) {
    #myticketsmenu {
      grid-template-columns: 1fr;
    }
  }