:root {
    --backgroundColor: #e6e6e6;
    --buttonColor: #8c2d19;
    --buttonHoverColor: #d24016;
    --whiteColor: white;
    --borderColor: #ccc;
    --buttonShadowColor: #8c2d19;
  }

#loginpage {
    margin: 20px auto;
    padding: 80px;
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--buttonShadowColor);
  }
  
  #loginpage h1 {
    margin-bottom: 40px;
    margin-top: -20px;
    font-size: 50px;
  }
  
  #loginpage form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -50px;
  }
  
  #loginpage label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  #loginpage input[type="email"],
  #loginpage input[type="password"] {
    padding: 10px;
    border: 1px solid var(--borderColor);
    width: 370px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  #loginpage #button {
    padding: 10px;
    background-color: var(--buttonColor);
    color: var(--whiteColor);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 50px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: -50px;
  }
  
  #loginpage #button:hover {
    background-color: var(--buttonHoverColor);
  }  