*--Colors--*/
:root {
    --mainHeaderColor: #8C2D19;
    --boxShadow: 0px 0px 5px 0px rgba(140, 45, 25, 0.5);
    --backgroundColor: #e6e6e6;
    --whiteColor: #FFF;
    --blackColor: #000;
    --focusBorderColor: #8C2D19;
    --submitHoverColor: #D24016;
}
    
/*Style for the Login section*/
#loginpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
}

#loginpage h1 {
    margin-bottom: 30px;
    font-size: 3rem;
  }
  
#loginpage form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}
  
#loginpage label {
    display: block;
    margin-bottom: 10px;
}

#loginpage input[type="email"],
#loginpage input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
}

#loginpage input[type="email"]:focus,
#loginpage input[type="password"]:focus { 
  outline: none;
  box-shadow: 0px 0px 5px 0px var(--focusBorderColor);
}

#loginpage input[type="submit"] {
    background-color: var(--mainHeaderColor);
    color: var(--whiteColor);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#loginpage input[type="submit"]:hover {
  background-color: var(--submitHoverColor);
  color: var(--whiteColor)
}

/* Style of the section for the page when the user is logged in*/
#login {
  display: flex;
  align-items: center;
}

#login a {
  color: var(--whiteColor);
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: var(--boxShadow);
  transition: background-color 0.2s ease-in-out;
}

#login a:hover {
  background-color: darken(var(--mainHeaderColor), 10%);
}

#login h3 {
    margin-right: 10px;
}