/*--Colors--*/
:root {
    --mainHeaderColor: #8C2D19;
    --boxShadow: 0px 0px 5px 0px rgba(140, 45, 25, 0.5);
    --backgroundColor: #e6e6e6;
    --whiteColor: #FFF;
    --blackColor: #000;
    --focusBorderColor: #8C2D19;
    --submitHoverColor: #D24016;
}

#loginpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#loginpage h1 {
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 0px;
}

#loginpage form {
  display: flex;
  flex-direction: column;
  width: 150%;
  max-width: 400px; 
  margin-left: -10px;
  padding: 20px;
  box-shadow: var(--boxShadow);
}

#loginpage label {
  display: block;
  margin-bottom: 0.5rem;
  padding: 20px;
  
}

#loginpage input[type="email"],
#loginpage input[type="password"] {
  padding: 10px 30px;
  margin-left: -30px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#loginpage input[type="email"]:focus,
#loginpage input[type="password"]:focus { 
  outline: none;
  box-shadow: 0px 0px 5px 0px var(--focusBorderColor);
}

#loginpage input[type="submit"] {
  background-color: var(--mainHeaderColor);
  color: var(--whiteColor);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#loginpage input[type="submit"]:hover {
  background-color: var(--submitHoverColor);
  color: var(--whiteColor);
}