/* Colores */
:root {
  --principalColor: #8c2d19;
  --backgroundColor: #e6e6e6;
  --whiteColor: #fff;
  --submitHoverColor: #d24016;
  --seeProfileShadow: 0 2px 4px #8c2d19;
  --border: 1px solid #ccc;
  --boxShadowForm: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: var(--backgroundColor);
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

#more {
  margin-top: 20px;
}

/* Styles for the search bar */
#critério1 {
  margin-bottom: 10px;
  max-width: 150px;
  padding: 5px;
  font-size: 15px;
}
#searching1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 500px;
  margin-left: 60px;
  position: relative; 
}

#searchprofile {
  flex-grow: 1;
  padding: 5px;
  border: var(--border);
  border-radius: 5px;
}

#searchprofiles {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--backgroundColor);
  border: none;
  border-radius: 5px;
  text-align: left; 
  position: absolute; 
  top: 100%; 
  left: 0; 
  display: none; 
  z-index: 1; 
}

#searchprofiles.show {
  display: inline-block; 
}

#searchprofiles ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--whiteColor); 
  border: var(--border); 
  border-top: none; 
  border-radius: 0 0 5px 5px; 
  max-height: 200px; 
  overflow-y: auto; 
}

#searchprofiles.empty {
  display: none;
}

#searchprofiles:not(.empty) {
  display: inline-block;
  padding: 0px;
  background-color: var(--whiteColor);
  border: var(--border);
  border-top: none;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  margin-top: -15px;
}

/* Styles for user names */
.user-data {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 50px; 
  align-items: baseline;
  
}

.user-data label[for="name"] {
  margin-top: 30px;
}

.user-data label {
  width: 120px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: var(--principalColor);
  color: var(--principalColor);
  margin-left: 20px;
  display: flex; 
  align-items: center; 
  text-align: right; 
}

.user-data span {
  margin-left: 10px;
  font-size: 18px; 
  display: flex; 
  align-items: center; 
}

/*Styles for the edit profile button*/
#edit-profile-button {
  bottom: 10px;
  display: inline-block;
  background-color: var(--principalColor);
  color: var(--whiteColor);
  font-size: 25px;
  font-weight: bold;
  padding: 10px 70px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--seeUserShadow);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 150px;
}

form {
  padding: 0;
  border: none; 
  background-color: var(--backgroundColor);
  margin-left: 35%;
  margin-bottom: 100px;
}

#edit-profile-button:hover {
  background-color: var(--submitHoverColor);
}

/*Style for the edit profile page*/
#editProfile {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--backgroundColor);
  border: var(--border);
  border-radius: 5px;
  box-shadow: var(--seeProfileShadow);
  text-align: left;

}

#editProfile h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

#editProfile h2{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0%;
  margin-left: 5px;
}

#editProfile form{
  margin: 0 auto;
  width: 60%;
  padding: 20px;
  box-shadow: var(--boxShadowForm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#editProfile label {
  display: block;
  margin-bottom: 10px;
  margin-left: -165px;
}


#editProfile select {
  width: 100%;
  padding: 10px;
  border: var(--border);
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;
}

#editProfile select option {
  text-align: left;
}

#editProfile se[name="role"] {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  
}

#editProfile input[type="text"],
#editProfile input[type="email"],
#editProfile input[type="password"] {
  width: 163%;
  padding: 10px;
  border: var(--border);
  border-radius: 5px;
  font-size: 16px;
}

#editProfile input[type="submit"] {
  background-color:var(--principalColor);
  color: var(--whiteColor);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#editProfile input[type="submit"]:hover {
  background-color: var(--submitHoverColor);
  cursor: pointer;
}

#editProfile input[name="csrf"] {
  display: none;
}
