:root {
    --mainHeaderColor: #8C2D19;
    --backgroundColor: #e6e6e6;
    --whiteColor: #FFF;
    --focusBorderColor: rgba(140, 45, 25, 0.5);
    --submitHoverColor: #D24016;
    --border: 1px solid #ccc;
    --errorColor: red;
    --successColor: green;
    --blackColor: black;
  }
  
  #registerUser {
    background-color: var(--backgroundColor);
    padding: 5px;
    margin: 0px auto;
    max-width: 900px;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 var(--mainHeaderColor);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #registerUser h1 {
    color: var(--blackColor);
    text-align: center;
  }
  
  #registerUser form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #registerUser label {
    display: block;
    margin-bottom: 10px;
    color: var(--blackColor);
  }
  
  #registerUser input[type="text"],
  #registerUser input[type="email"],
  #registerUser input[type="password"] {
    display: block;
    width: 100%;
    padding: 5px;
    border: var(--border);
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  #registerUser input[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--mainHeaderColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  #registerUser input[type="submit"]:hover {
    background-color: var(--submitHoverColor);
  }
  
  #registerUser input[type="text"]:focus,
  #registerUser input[type="email"]:focus,
  #registerUser input[type="password"]:focus {
    border: var(--border);
    outline: none;
    box-shadow: 0 0 5px 0 var(--focusBorderColor);
  }
  
  #registerUser a {
    color: var(--linkColor);
  }
  
  #registerUser a:hover {
    color: var(--linkHoverColor);
  }
  
  #registerUser .error-message {
    color: var(--errorColor);
  }
  
  #registerUser .success-message {
    color: var(--successColor);
  }