:root {
    --principalColor: #8C2D19;
    --backgroundColor: #e6e6e6;
    --whiteColor: #FFF;
    --focusBorderColor: rgba(140, 45, 25, 0.5);
    --submitHoverColor: #D24016;
    --borderColor: #ccc;
    --errorColor: red;
    --successColor: green;
    --blackColor: black;
  }
  
  #registerUser {
    background-color: var(--backgroundColor);
    padding: 10px;
    margin: 0px auto;
    max-width: 50%;
    max-height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 var(--principalColor);
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  
  #registerUser h1 {
    color: var(--blackColor);
    text-align: center;
    font-size: 3.25vw;
  }
  
  #registerUser form {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  #registerUser label {
    display: block;
    margin-bottom: 10px;
    color: var(--blackColor);
    text-align: left;
    margin-left: 5%;
  }
  
  #registerUser input[type="text"],
  #registerUser input[type="email"],
  #registerUser input[type="password"] {
    display: block;
    width: 95%;
    padding: 5px;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  #registerUser input[type="submit"] {
    display: block;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 10px;
    background-color: var(--principalColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 2vw;
    width: 70%;
    margin-left: 15%;
  }
  
  #registerUser input[type="submit"]:hover {
    background-color: var(--submitHoverColor);
  }
  
  #registerUser input[type="text"]:focus,
  #registerUser input[type="email"]:focus,
  #registerUser input[type="password"]:focus {
    border: var(--border);
    outline: none;
    box-shadow: 0 0 5px 0 var(--focusBorderColor);
  }
  
  #registerUser a {
    color: var(--linkColor);
  }
  
  #registerUser a:hover {
    color: var(--linkHoverColor);
  }
  
  #registerUser .error-message {
    color: var(--errorColor);
  }
  
  #registerUser .success-message {
    color: var(--successColor);
  }
  
  