/* Add ticket */


@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        background-color: var(--backgroundColor);
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
}
@media screen and (max-width: 768px) {
    #ticket-add {
        max-width: 90%;
    }


    #ticket-add form label {
        display: block;
        margin-bottom: 10px;
        margin-left: 6%;
        font-size: 16px;
    }

    #ticket-add h1 {
        font-size: 16px;
    }

    #ticket-add input[type="submit"] {
        font-size: 10px;
    }
}

/* Access denied */

@media screen and (max-width: 768px) {
    #accessDenied h2 {
        font-size: 16px;
    }

    #accessDenied h3 {
        font-size: 16px;
    }

    #accessDenied p {
        font-size: 16px;
    }
}

/* manage  */
@media only screen and (min-width: 768px) {
    /* Adjust padding for larger screens */
    .edit-form,
    .delete-form,
    .changes-form {
        padding: 10px 150px;
    }
}

@media only screen and (max-width: 768px) {
    /* Adjust font size and padding for smaller screens */
    .edit-form,
    .delete-form,
    .changes-form {
        font-size: 16px;
        padding: 5px;
    }
}
/* edit faq */
@media screen and (max-width: 768px) {
    .edit-faq {
        width: 90%;
    }

    .edit-faq input[type="text"] {
        width: 100%;
    }

    .edit-faq input[type="submit"] {
        margin-left: 0;
        width: 100%;
    }
}

/* edit ticket */
@media (max-width: 768px) {
    #editTicket h1 {
        font-size: 20px;
    }

    #editTicket input[type="submit"] {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 480px) {
    #editTicket h1 {
        font-size: 16px;
    }

    #editTicket input[type="submit"] {
        width: 80%;
        margin-left: 10%;
    }
}

/* edit profile */
@media screen and (max-width: 768px) {
    #editProfile h1 {
        font-size: 16px;
    }

    #editProfile h2 {
        font-size: 16px;
    }

    #editProfile input[type="submit"] {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .form-container,
    #faq-form,
    #faq-list,
    .answer-element {
        width: 100%;
        font-size: 10px;
    }

    input[type="text"],
    textarea {
        width: 100%;
    }

    #faq-form > select {
        width: 100%;
        padding: 10px;
        font-size: 10px;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border-radius: 5px;
        background-color: var(--whiteColor);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
      }
}

/* footer */
@media screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      height: auto;
    }

  
    .footer a {
      font-size: 16px; /* Adjust the font-size value as needed */
      margin: 5px;
    }
  
    .footer-links {
      flex-direction: column;
    }
  }

/* header */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header > a > img {
        width: 30%;
        margin-right: 0;
        margin-bottom: 2%;
    }

    header > h1 {
        font-size: 16px;
        margin-bottom: 2%;
    }

    #login {
        grid-template-columns: 1fr;
        margin-right: 0;
        margin-top: 2%;
    }

    #login > button {
        font-size: 16px;
        height: 10vw;
        line-height: 6vw;
        padding: 3vw 4.8vw;
        border-radius: 5vw;
        margin: 2% 0;
    }
}



/* login */
@media (max-width: 768px) {
    #loginpage {
        width: 100%;
        padding: 40px;
    }

    #loginpage h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    #loginpage input[type="email"],
    #loginpage input[type="password"] {
        width: 100%;
    }

    #loginpage #button {
        width: 100%;
        margin-left: 0;
    }
}

/* my tickets */
@media screen and (max-width: 768px) {
    .ticketContainer {
        padding: 5px;
    }

    .department-tickets {
        padding: 10px;
    }

    .department-tickets select,
    .department-tickets input[type="submit"] {
        padding: 5px;
        font-size: 16px;
    }

    h2,
    h3 {
        font-size: 16px;
    }
}

/* profile */

@media screen and (max-width: 768px) {
    .user-data {
        margin-left: 0;
    }

    #edit-profile-button {
        margin-left: auto;
        margin-right: auto;
    }
}

/* register */
@media screen and (max-width:  768px) {
    #registerUser {
        max-width: 90%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #registerUser h1 {
        font-size: 25px;
    }

    #registerUser input[type="submit"] {
        font-size: 16px;
    }
}

/* search */

@media (max-width: 768px) {
    #searching1,
    #searching2 {
        margin-left: 10px;
        margin-top: 10px;
    }

    #searchprofiles,
    #searchtags {
        font-size: 16px;
    }

    #searchprofiles ul,
    #searchtags ul {
        max-height: 150px;
    }
}

/* ticket */

@media (max-width: 768px) {
    #ticket {
        padding: 20px;
    }

    #ticket h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    #ticket input[type="submit"] {
        padding: 8px 120px;
        font-size: 16px;
    }

    #ticket .ticketitem input[type="submit"] {
        padding: 8px 120px;
        font-size: 25px;
    }
}

/* ticket hashtag */

@media only screen and (max-width: 768px) {
    .ticketHashtags {
        flex-wrap: wrap;
    }

    .ticketHashtags h2 {
        margin: 5px 0;
    }
}

/* ticket managing */
@media (max-width: 768px) {
    #form,
    #searching,
    #add-department,
    #add-hashtags {
        width: 90%;
    }
}

/* ticket per hashtag */

@media (max-width: 768px) {
    .ticketPerHashtag,
    #ticket-list {
        width: 90%;
        margin: 5% auto;
        padding: 10px;
    }

    .ticketPerHashtag h1 {
        margin-bottom: 10px;
    }

    .loginItem {
        font-size: 16px;
        margin-bottom: 8px;
    }

    h2 {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

/* ticket managing */
@media (max-width: 768px) {
    #form, #searching, #add-department, #add-hashtags {
        width: 90%;
    }
}

/* ticket per hashtag */
@media (max-width: 768px) {
    .ticketPerHashtag,
    #ticket-list {
      width: 90%;
      margin: 5% auto;
      padding: 10px;
    }
  
    .ticketPerHashtag h1 {
      margin-bottom: 10px;
    }
  
    .loginItem {
      font-size: 16px;
      margin-bottom: 8px;
    }
  
    h2 {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 600px) {
    #menu .hamburger {
      margin-top: 0;
      display: block;
      background-color: #8f8f8f;
      color: white;
      padding: 1em;
    }
  
    #menu .hamburger:before {
      content: '\2630';
    }
  
    #menu ul {
      flex-direction: column;
      margin: 0;
      padding: 0;
      color: white;
    }
  
    #hamburger:checked + .hamburger + ul li {
      max-height: 50px; /* Adjust the max-height value as needed */
      opacity: 1;
    }
  
    #hamburger:checked + .hamburger:before {
      content: '\2715';
    }
  
    #menu li {
      max-height: 0;
      padding: 0 1em;
      background-color: #edeff0;
      text-align: left;
      opacity: 0;
      transition: all .3s ease-in-out;
    }
  
    #menu li:nth-child(1) {
      border-top: none;
      border-left: 5px solid #e1493e;
    }
  
    #menu li:nth-child(2) {
      border-top: none;
      border-left: 5px solid #8aba56;
    }
  
    #menu li:nth-child(3) {
      border-top: none;
      border-left: 5px solid #5b4282;
    }
  }
  