:root{
  --principalColor: #8C2D19;
  --backgroundColor: #f5f5f5;
  --blackletter: #000;
  --borderColor: #ccc;
  --whiteColor: #fff;
  --buttonHoverColor: #e6b0aa;
  --errorColor: red;
  --grayColor: #333;
  --boxSadowAux: rgba(0, 0, 0, 0.1);
  --borderColorAux: #ddd;
  --linkHoverColor: blue;
  --linkColor: darkblue;
  --backGroundAux: #eee;
  --backGround2: #bcbaba;
  --grayColor1: gray;
}
  
  #ticket-add {
    background-color: var(--backgroundColor);
    box-shadow: 0 0 5px 0 var(--principalColor);
  }

  
  #ticket-add label {
    color: var(--blackletter);
    font-size: 1.5vw;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  #ticket-add input[type="text"],
  #ticket-add select {

    margin-left: auto;
    width: 95%;
    font-size: 20px;
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    box-sizing: border-box;
  }

  #ticket-add input[type="submit"] {
    background-color: var(--principalColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.8vw;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  #ticket-add input[type="submit"]:hover {
    background-color: var(--buttonHoverColor);
    color: var(--blackletter);
    border: 1px solid var(--principalColor);
  }
  
  #ticket-add select {
    height: auto;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  #ticket-add select optgroup {
    font-weight: bold;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  

  /* access denied */


  #accessDenied {
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
  }
  
  #accessDenied p {
    font-size: 1.2vw;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  /* draw info ticket */

  .ticket-card {
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--boxSadowAux);
  }

  .ticket-card h1 {
    font-weight: 600;
    color: var(--principalColor);
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .label {
    font-weight: bold;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #action-div {
    /* Add padding to create spacing */
    box-sizing: border-box;
  }
  
  .edit-form,
  .delete-form {
    background-color: var(--principalColor);
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  

  .changes-form {
    background-color: var(--principalColor);
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
  }

  .changes-form a{
    /* remove link  */
    color: var(--whiteColor);
}
  .changes-form a:hover{
    color: var(--blackletter);
  }

.edit-form:hover,
.delete-form:hover, .changes-form:hover {
  background-color: var(--buttonHoverColor);
  color: var(--blackletter);
  border: 1px solid var(--principalColor);
}

#delete-ticket-button, #edit-ticket-button, #see-changes-button {
    /* remove button aspect */
    background: none;
    color: var(--backgroundColor);
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;

  }



  /* edit faq */


  .edit-faq {
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;

  }

  .edit-faq input[type="text"] {
    border: 1px solid var(--borderColor);
    font-size: 16px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .edit-faq input[type="submit"] {
    background-color: var(--principalColor);
    color: var(--whiteColor);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }


.edit-faq input[type="submit"]:hover {
  background-color: var(--buttonHoverColor);
  color: var(--blackletter);
  border: 1px solid var(--principalColor);
  }
  
  /* edit ticket */
  #editTicket {
    background-color: var(--backgroundColor);
    border-radius: 10px;
    box-shadow: var(--principalColor); 

  }

  #editTicket input[type="text"] {
    border-radius: 5px;
    border: var(--borderColor);
    font-size: 14px;
  }
  
  #editTicket select {
    border-radius: 5px;
    border: var(--borderColor);
  }

  #editTicket input[type="submit"] {
    background-color: var(--principalColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;    
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #editTicket input[type="submit"]:hover {
    background-color: var(--buttonHoverColor);
    color: var(--blackletter);
    border: 1px solid var(--principalColor);
  }
  
  /* edit user */


  #editProfile {
    background-color: var(--borderColor);
    border: var(--borderColor);
    border-radius: 5px;
    box-shadow: var(--principalColor);

  }


  #editProfile select { 
    border: var(--borderColor);
    border-radius: 5px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #editProfile select[name="role"] {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }


  #editProfile input[type="text"],
#editProfile input[type="email"],
#editProfile input[type="password"] {
  
  border: var(--borderColor);
  border-radius: 5px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#editProfile input[type="submit"] {
    background-color: var(--principalColor);
    color: var(--whiteColor);
    border: none;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  

#editProfile input[type="submit"]:hover {
  background-color: var(--buttonHoverColor);
  color: var(--blackletter);
  border: 1px solid var(--principalColor);
  cursor: pointer;
}

/* faq answer */

.form-container {
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--boxSadowAux);
  }


  #faq-form {
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--boxSadowAux);
  }

  .form-group label {
    font-weight: bold;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  input[type="text"],
textarea {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid var(--borderColorAux);
  border-radius: 5px;

}

button[type="submit"] {
    background-color: var(--principalColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: var(--buttonHoverColor);
    color: var(--blackletter);
    border: 1px solid var(--principalColor);
  }

  #faq-list {
    background-color: var(--whiteColor);
    border: 1px solid var(--borderColorAux);
    border-radius: 5px;
  }

  .answer-element {
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--boxSadowAux);
  }
  

/* index */
#menu {
  color: var(--whiteColor);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#menu > ul >li:nth-child(1),
#menu > ul > li:nth-child(2),
#menu > ul > li:nth-child(3)
{
  width: 100%;
  text-align: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#menu > ul > li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  
}

#menu > ul > li {
  background-color: var(--whiteColor);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--blackletter);
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
  transition: color 100ms;
  border: 1px solid var(--principalColor);
}

#menu > ul > li:hover {
  background-color: var(--buttonHoverColor);
  color: var(--blackletter);
}

  /* login */

  

  #loginpage {
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--principalColor);
  }
  



  #loginpage input[type="email"],
#loginpage input[type="password"] {
 
  border: 1px solid var(--borderColor);
  font-size: 16px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#loginpage #button {
    
    background-color: var(--principalColor);
    color: var(--whiteColor);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    
  }
  
  #loginpage #button:hover {
    background-color: var(--buttonHoverColor);
    color: var(--blackletter);
    border: 1px solid var(--principalColor);
  }

  /* ticket  */

  #ticket {
    background-color: var(--borderColor);
    box-shadow: var(--principalColor);
    border-radius: 5px;
  }

    

  #ticket label {
    font-size: 24px;
    color: var(--blackletter);
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #ticket input[type=submit] {
    background-color: var(--principalColor);
    color: var(--whiteColor);
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  
  #ticket input[type=submit]:hover {
    background-color: var(--buttonHoverColor);
    color: var(--blackletter);
    border: 1px solid var(--principalColor);
  }

  #ticket .ticketitem ticket-add {
    box-shadow: var(--principalColor);
  }

  #ticket .ticketitem label {
    font-size: 24px;
    color: var(--blackletter);
    font-weight: normal;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #ticket .ticketitem input[type=submit] {
    background-color: var(--principalColor);
    color: var(--whiteColor);
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #ticket .ticketitem input[type=submit]:hover {
    background-color: var(--buttonHoverColor);
    color: var(--blackletter);
    border: 1px solid var(--principalColor);
  }
  
  #ticket .ticketitem a:hover {
    color: var(--linkHoverColor);
  }
  
  /* mytickets */

.ticketContainer {
    background-color: var(--grayColor1);
    border-radius: 10px;
    box-shadow: var(--principalColor);
  }

  .loginItem {
    color: var(--blackletter);
  }

  .loginItem a:hover {
    text-decoration: underline;
  }

  .department-tickets select,
  .department-tickets input[type="submit"] {
    padding: 10px;
  }

  .department-tickets select {
    background-color: var(--borderColor);

  }

  .department-tickets input[type="submit"] {
    width: 30%;
  }
  

  .department-tickets input[type="submit"]:hover {
    background-color: var(--buttonHoverColor);
    color: var(--blackletter);
    border: 1px solid var(--principalColor);
  }

  /* profile */
  .user-data label {
    font-weight: bold;
    text-decoration: underline;
    color: var(--principalColor);
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #edit-profile-button:hover {
    background-color: var(--buttonHoverColor);
    color: var(--blackletter);
    border: 1px solid var(--principalColor);
  }

  #edit-profile-button {
    background-color: var(--principalColor);
    color: var(--whiteColor);
    border: none;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
  }

  /* register */

  

  #registerUser {
    background-color: var(--backgroundColor);
    border-radius: 5px;
    box-shadow: 0 0 5px 0 var(--principalColor);
    
  }


  #registerUser label {
    color: var(--blackletter);
  }

  #registerUser input[type="text"],
  #registerUser input[type="email"],
  #registerUser input[type="password"] { 
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    box-sizing: border-box;
  }

    
  #registerUser input[type="submit"]:hover {
    background-color: var(--buttonHoverColor);
    color: var(--blackletter);
    border: 1px solid var(--principalColor);
  }

  #registerUser input[type="submit"] {
    background-color: var(--principalColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 20px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #registerUser a {
    color: var(--linkColor);
  }
  
  #registerUser a:hover {
    color: var(--linkHoverColor);
  }
  
  #registerUser .error-message {
    color: var(--errorColor);
  }

  #registerUser .success-message {
    color: var(--successColor);
  }
  

  #registerUser input[type="text"]:focus,
  #registerUser input[type="email"]:focus,
  #registerUser input[type="password"]:focus {
    border: var(--border);
    outline: none;
    box-shadow: 0 0 5px 0 var(--principalColor);
  }

  /* search */

  #searching1, #searching2 {

    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--boxSadowAux);
  }
  
  #criterio1, #criterio2 {
   
    font-size: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* remove select styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    /* non clickable */
    pointer-events: none;
  
    
  }
  

  #searchprofile, #searchtag {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
  }

  #searchprofiles, #searchtags {
   
    background-color: var(--backgroundColor);
    border: none;
    border-radius: 5px;
  
  }

  #searchprofiles a, #searchtags a {
    color: var(--principalColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;

  }

  /* ticket hashtags */

  .ticketHashtags{

    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--boxSadowAux);

}
/* ticket managing */
#form, #searching, #add-department, #add-hashtags {
   
    background-color: var(--backgroundColor);
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--boxSadowAux);
}

#allhashtag {
    background-color:var(--backGroundAux);
    border-radius: 5px;
}

#add-department input[type="text"],
#add-hashtags input[type="text"] {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--whiteColor);
    box-shadow: 0 2px 5px var(--boxSadowAux);
    transition: box-shadow 0.3s ease-in-out;
}

/* Add hover effect to submit button */
#add-department #button:hover,
#add-hashtags #button:hover {
  background-color: var(--buttonHoverColor);
  color: var(--blackletter);
  border: 1px solid var(--principalColor);
}

/* Add focus styles to inputs */
#add-department input[type="text"]:focus,
#add-hashtags input[type="text"]:focus {
    box-shadow: 0 4px 8px var(--boxSadowAux);
}

#add-department #button,
#add-hashtags #button {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--whiteColor);
    background-color: var(--principalColor);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* tickets per hashtag */

.ticketPerHashtag,
#ticket-list {

  background-color: var(--backgroundColor);
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--boxSadowAux);
}

.ticketPerHashtag {
    background-color: var(--backGround2);
  }

  .loginItem {
    font-size: 18px;
    color: var(--grayColor);
  }

  .loginItem a {
    color: var(--grayColor);
  }

  .loginItem a:hover {
    color: var(--buttonHoverColor); /* Change to the desired hover color */
  }


  


  