/*Colors*/
:root {
  --mainHeaderColor: #8C2D19;
  --boxShadow: 0px 0px 5px 0px var(--mainHeaderColor);
  --backgroundColor: #e6e6e6;
  --whiteColor: #FFF;
  --blackColor: #000;
  --focusBorderColor: rgba(140, 45, 25, 0.5);
  --linkColor: blue;
  --linkHoverColor: darkblue;
  --inputBorderColor: #CCC;
  --submitHoverColor: #D24016;
  --seeTicketShadow: 0 2px 4px rgba(87, 1, 1, 0.507);
  --border: 1px solid #ccc;
  --grayColor: lightgray;

}

#ticket {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  background-color: var(--backgroundColor);
  padding: 40px;
  box-shadow: var(--boxShadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#ticket h2 {
  font-size: 40px;
  color: var(--blackColor);
  margin-bottom: 20px;
}

#ticket label {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--blackColor);
}

#ticket input[type=submit] {
  background-color: var(--mainHeaderColor);
  color: var(--whiteColor);
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#ticket input[type=submit]:hover {
  background-color: var(--submitHoverColor);
}

#ticket .ticketitem ticket-add {
  margin-top: 20px;
  box-shadow: var(--boxShadow);
}

#ticket .ticketitem label {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--blackColor);
  font-weight: normal;
}

#ticket .ticketitem input[type=submit] {
  background-color: var(--mainHeaderColor);
  color: var(--whiteColor);
  font-size: 24px;
  padding: 10px 170px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#ticket .ticketitem input[type=submit]:hover {
  background-color: var(--submitHoverColor);
}

#ticket .ticketitem a {
  color: var(--linkColor);
  text-decoration: none;
}

#ticket .ticketitem a:hover {
  color: var(--linkHoverColor);
}

#ticket ticket-add {
  margin-top: 20px;
  box-shadow: var(--boxShadow);
}

#ticket input[type=text],
#ticket input[type=password],
#ticket textarea {
  font-size: 18px;
  padding: 10px;
  border: 1px solid var(--inputBorderColor);
  width: 100%;
  margin-bottom: 20px;
}

#ticket input[type=text]:focus,
#ticket input[type=password]:focus,
#ticket textarea:focus {
  outline: none;
  border-color: var(--focusBorderColor);
}

/*See my tickets*/
#myTickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/*To define the style for viewing all the tickets*/

#myTickets .ticketContainer {
  width: 80%;
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: var(--seeTicketShadow);
  background-color: var(--whiteColor);
}

#myTickets .ticketContainer h3.loginItem {
  font-size: 24px;
  margin-bottom: 20px;
}

#myTickets .ticketContainer h3.loginItem a {
  color: var(--mainHeaderColor);
  text-decoration: underline; 
  font-size: 26px; 
}

#myTickets .ticketContainer h3.loginItem a:hover {
  color: var(--linkHoverColor);
}

#myTickets .ticketContainer h2 {
  font-size: 20px;
  color: var(--blackColor);
  margin-bottom: 10px;
  
}

/*Draw info ticket*/
#ticket-info {
  background-color: var(--backgroundColor);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  text-align: left;
  margin: 0 auto;
  max-width: 900px;
  }
  
  #ticket-info h1 {
  font-size: 35px;
  margin: 0 0 50px;
  padding: 0;
  }
  
  #ticket-info h2 {
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  
  }
  
  #ticket-info .left-align:before {
    content: attr(data-label) ":";
    font-weight: bold;
    color: var(--mainHeaderColor);
    text-decoration: underline;
}


 /* #ticket-info h2 a {
  text-decoration: none;
  color: #1e90ff;
  }
  
  #ticket-info h2 a:hover {
  text-decoration: underline;
  color: #003366;
  }*/
/*
  #ticket-info .open {
    color: green;
  }
  #ticket-info .assigned {
  color: orange;
  }
  #ticket-info .closed {
  color: red;
  }*/

  #ticket-info .delete-ticket ticket-add {
    margin-top: 80px;
    box-shadow: var(--boxShadow);
    border-radius: 50px;
  }
  
  #ticket-info .delete-ticket input[type=submit] {
    background-color: var(--mainHeaderColor);
    color: var(--whiteColor);
    font-size: 24px;
    padding: 10px 150px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #ticket-info .delete-ticket input[type=submit]:hover {
    background-color: var(--submitHoverColor);
  }
  
  #ticket-info .edit-ticket input[type=submit] {
    background-color: var(--mainHeaderColor);
    color: var(--whiteColor);
    font-size: 24px;
    padding: 10px 157px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #ticket-info .edit-ticket input[type=submit]:hover {
    background-color: var(--submitHoverColor);
  }
  
  #ticket-info .answer label{
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--blackColor);
    font-weight: normal;
    
  }
  
  #ticket-info .answer textarea {
  width: 100%;
  height: 100px;
  margin: 20px;
  padding: 20px;
  }
  
  #ticket-info .answer input[type="submit"] {
    background-color: var(--mainHeaderColor);
    color: var(--whiteColor);
    font-size: 24px;
    padding: 10px 130px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #ticket-info .answer input[type="submit"]:hover {
  background-color: var(--submitHoverColor);
  }
  
  #ticket-info #hashtags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  
  }
  
  #ticket-info .hashtag {
  font-size: 14px;
  margin: 5px;
  padding: 5px;
  background-color: var(--grayColor);
  border-radius: 100px;
  }

  /*Editar Ticket*/
  #editTicket {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin: 0px auto;
    width: 100%;
    max-width: 800px;
    background-color: var(--backgroundColor);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
  }
  
  #editTicket h1 {
    text-align: center !important;
    font-size: 40px !important;
    margin-bottom: 30px !important;
    position: relative !important;
  }
  
  #editTicket h1::after {
    content: "" !important;
    display: block !important;
    position: absolute !important;
    bottom: -10px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 100px !important;
    height: 5px !important;
  }
  
  
  #editTicket ticket-add {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  #editTicket label {
    margin-bottom: 10px;
  }
  
  #editTicket input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: var(--border);
  }
  
  #editTicket select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: var(--border);
  }
  
  #editTicket input[type="submit"] {
    background-color: var(--mainHeaderColor);
    color: var(--whiteColor);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #editTicket input[type="submit"]:hover {
    background-color: var(--submitHoverColor);
  }

  /*Adicionar ticket*/
  #ticket-add {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin: 0px auto;
    width: 100%;
    max-width: 800px;
    background-color: var(--backgroundColor);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
  }
  
  #ticket-add h1 {
    text-align: center !important;
    font-size: 40px !important;
    margin-bottom: 30px !important;
    position: relative !important;
  }
  
  #ticket-add h1::after {
    content: "" !important;
    display: block !important;
    position: absolute !important;
    bottom: -10px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 100px !important;
    height: 5px !important;
  }
  
  #ticket-add form {
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: var(--boxShadow);
    border-radius: 10px;
  }
  
  #ticket-add label {
    margin-bottom: 10px;
  }
  
  #ticket-add input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: var(--border);
  }
  
  #ticket-add select {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: var(--border);
  }
  
  #ticket-add input[type="submit"] {
    background-color: var(--mainHeaderColor);
    color: var(--whiteColor);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #ticket-add input[type="submit"]:hover {
    background-color: var(--submitHoverColor);
  }

  /*draw ticket search*/
#searching {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  padding: 30px;
  border: var(--border);
  border-radius: 5px;
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
  background-color: var(--backgroundColor);
  box-shadow: var(--boxShadow);
}

#critério {
  margin-bottom: 10px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--whiteColor);
}

#critério option {
  position: absolute;
  left: 100%;
  top: 0;
  height: auto;
  min-width: 100%;
  display: none;
  background-color: var(--whiteColor);
}

#critério:focus option {
  display: block;
}

#searchticket {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: var(--border);
  margin-bottom: 10px;
  width: 600px;
  background-color: var(--whiteColor);
}

#critério option {
  height: 25px;
  margin-top: 0;
}

#critério::-ms-expand {
  display: none;
}

#searchtickets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 300px;
  overflow-y: auto;
}

/*draw add department*/
#add-department {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  padding: 30px;
  border: var(--border);
  border-radius: 5px;
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
  background-color: var(--backgroundColor);
  box-shadow: var(--boxShadow);
}

#add-department form {
  display: flex;
  flex-direction: column;
}

#add-department label {
  margin-bottom: 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;

}

#add-department input[type="text"] {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: var(--border);
  margin-bottom: 10px;
  width: 400px; 
}

#add-department input[type="submit"] {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--mainHeaderColor);
  color: var(--whiteColor);
  cursor: pointer;
  width: 300px;
  align-self: left;
}

#add-department input[type="submit"]:hover {
  background-color: var(--submitHoverColor);
}

/*Draw add Hashtags*/
#add-hashtags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  padding: 30px;
  border: var(--border);
  border-radius: 5px;
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
  background-color: var(--backgroundColor);
  box-shadow: var(--boxShadow);
  height: 280px;
}

#add-hashtags form {
  display: flex;
  flex-direction: column;
}

#add-hashtags label {
  margin-bottom: 5px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;

}

#add-hashtags input[type="text"] {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: var(--border);
  margin-bottom: 10px;
  width: 400px; 
}

#add-hashtags .button {
  display: flex;
  justify-content: center;
  width: 100%;
}

#add-hashtags input[type="submit"] {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--mainHeaderColor);
  color: var(--whiteColor);
  cursor: pointer;
  width: 300px;
  align-self: left;
}

#add-hashtags input[type="submit"]:hover {
  background-color: var(--submitHoverColor);
}