/*Colors*/
:root {
  --mainHeaderColor: #8C2D19;
  --boxShadow: 0px 0px 5px 0px var(--mainHeaderColor);
  --backgroundColor: #e6e6e6;
  --whiteColor: #FFF;
  --blackColor: #000;
  --focusBorderColor: rgba(140, 45, 25, 0.5);
  --linkColor: blue;
  --linkHoverColor: darkblue;
  --inputBorderColor: #CCC;
  --submitHoverColor: #D24016;
  --seeTicketShadow: 0 2px 4px rgba(87, 1, 1, 0.507);
  --border: 1px solid #ccc;

}

#ticket {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  background-color: var(--backgroundColor);
  padding: 40px;
  box-shadow: var(--boxShadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#ticket h2 {
  font-size: 40px;
  color: var(--blackColor);
  margin-bottom: 20px;
}

#ticket label {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--blackColor);
}

#ticket input[type=submit] {
  background-color: var(--mainHeaderColor);
  color: var(--whiteColor);
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#ticket input[type=submit]:hover {
  background-color: var(--submitHoverColor);
}

#ticket .ticketitem ticket-add {
  margin-top: 20px;
  box-shadow: var(--boxShadow);
}

#ticket .ticketitem label {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--blackColor);
  font-weight: normal;
}

#ticket .ticketitem input[type=submit] {
  background-color: var(--mainHeaderColor);
  color: var(--whiteColor);
  font-size: 24px;
  padding: 10px 170px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#ticket .ticketitem input[type=submit]:hover {
  background-color: var(--submitHoverColor);
}

#ticket .ticketitem a {
  color: var(--linkColor);
  text-decoration: none;
}

#ticket .ticketitem a:hover {
  color: var(--linkHoverColor);
}

#ticket ticket-add {
  margin-top: 20px;
  box-shadow: var(--boxShadow);
}

#ticket input[type=text],
#ticket input[type=password],
#ticket textarea {
  font-size: 18px;
  padding: 10px;
  border: 1px solid var(--inputBorderColor);
  width: 100%;
  margin-bottom: 20px;
}

#ticket input[type=text]:focus,
#ticket input[type=password]:focus,
#ticket textarea:focus {
  outline: none;
  border-color: var(--focusBorderColor);
}

/*See my tickets*/
#myTickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/*To define the style for viewing all the tickets*/

#myTickets .ticketContainer {
  width: 80%;
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: var(--seeTicketShadow);
  background-color: var(--whiteColor);
}

#myTickets .ticketContainer h3.loginItem {
  font-size: 24px;
  margin-bottom: 20px;
}

#myTickets .ticketContainer h3.loginItem a {
  color: var(--mainHeaderColor);
  text-decoration: underline; 
  font-size: 26px; 
}

#myTickets .ticketContainer h3.loginItem a:hover {
  color: var(--linkHoverColor);
}

#myTickets .ticketContainer h2 {
  font-size: 20px;
  color: var(--blackColor);
  margin-bottom: 10px;
  
}